<h1 class="page-header">Data Mapper</h1>

<form>
  <div class="form-group">
    <div class="form-row text-center">
      <div class="form-group col-md-6">
        <label for="file">Upload your CSV File</label>
        <input type="file" class="form-control" id="file">
        <div class="form-group"/>
        <button type="submit" class="btn btn-primary" ng-click="dataMapper.upload()">Upload</button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="rawData">Raw data</label>
        <textarea ui-codemirror id="rawData" class="form-control" rows="17" ng-model="dataMapper.jsonInput"></textarea>
      </div>
    </div>
    <div class="form-row col-md-12 text-center">

      <div class="col-md-6">

      </div>

      <div class="col-md-6 center">
        <button type="submit" class="btn btn-primary" ng-click="dataMapper.getSuggestions()">Get Suggestions</button>
        <button type="submit" class="btn btn-danger"  ng-click="dataMapper.cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
