<h2 class="page-header">Feeds</h2>
<form>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="formGroupExampleInput">Feed Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput">
    </div>

    <div class="form-group col-md-6">
      <label for="exampleSelect1">Feed Type</label>
      <select class="form-control" id="exampleSelect1">
        <option>SFTP</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username">
    </div>

    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
  </div>


  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="host">Host</label>
      <input type="password" class="form-control" id="host">
    </div>

    <div class="form-group col-md-6">
      <label for="port">Port</label>
      <input type="password" class="form-control" id="port">
    </div>

  </div>

  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="sshProxy">SSH Proxy</label>
      <input type="password" class="form-control" id="sshProxy">
    </div>

    <div class="form-group col-md-6">
      <label for="path">Path</label>
      <input type="password" class="form-control" id="path">
    </div>

  </div>





</form>
