<form class="form-group row">
  <div class="form-group">
    <label for="Name" translate>NAME</label>
    <input type="text" class="form-control" id="Name">
  </div>
  <div class="form-group">
    <label for="ClientSelect" translate>CUSTOMER</label>
    <select class="form-control" ng-model="selectedName" id="ClientSelect" ng-options="item for item in LelCrud.customers"></select>
  </div>
  <div class="form-group">
    <label for="description" translate>DESCRIPTION</label>
    <input type="email" class="form-control" id="Description">
  </div>
  <button type="submit" class="btn btn-primary pull-right" TRANSLATE ng-click="LelCrud.goToLelList()"> CREATE</button>
</form>
