<h2 class="page-header">Feeds</h2>
<form>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="formGroupExampleInput">Feed Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" ng-model="feed.newFeed.name">
    </div>

    <div class="form-group col-md-6">
      <label for="exampleSelect1">Feed Type</label>
      <select class="form-control" id="exampleSelect1" ng-model="feed.newFeed.feedProtocol">
        <option>SFTP</option>
        <option>MySQL</option>
        <option>Oracle</option>
        <option>SAP</option>
        <option>S3</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" ng-model="feed.newFeed.username">
    </div>

    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" ng-model="feed.newFeed.password">
    </div>
  </div>


  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="host">Host</label>
      <input type="text" class="form-control" id="host" ng-model="feed.newFeed.host">
    </div>

    <div class="form-group col-md-6">
      <label for="port">Port</label>
      <input type="number" class="form-control" id="port" ng-model="feed.newFeed.port">
    </div>

  </div>

  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="sshProxy">SSH Proxy</label>
      <input type="text" class="form-control" id="sshProxy" ng-model="feed.newFeed.sshProxy">
    </div>

    <div class="form-group col-md-6">
      <label for="path">Path</label>
      <input type="text" class="form-control" id="path" ng-model="feed.newFeed.path">
    </div>

  </div>

  <div class="form-row col-md-12 text-center">

    <div class="col-md-6">

    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" ng-click="newFeed.sendFeed(feed)">Create</button>

      <button type="submit" class="btn btn-danger" ng-click="newFeed.cancel()">Cancel</button>
    </div>


  </div>


</form>
